@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
      text-align: center;
      background-color: #111;
      color: white;
      font-family: 'Roboto', sans-serif;
}
a {
      text-decoration: none;
      color: rgb(0, 247, 255);
}
.panel {
      background-color: #333;
      margin-left: 25%;
      margin-right: 25%;
      margin-top: 25%;
      border: solid white 5px;
      border-radius: 5px;
}